<div class="account-select-wrapper">
  <div class=" account-select-container app-box" fxLayout="column">
    <p class="t-15-b primary p-title"> Moje konta </p>
    <div class="accounts-list" *ngIf="accounts; else loadingList">
      <ng-container *ngFor="let account of accounts">
        <div fxLayout="row" class="accounts-list-element" fxLayoutAlign="start center" (click)="selectAccount(account)">
          <svr-account-icon [color]="account.color" [iconName]="account.iconName" [size]="23"></svr-account-icon>
          <div fxLayout="column" fxFlex="auto" fxLayoutGap="5px">
            <p class="account-name t-15-b primary">{{ account.name }}</p>
            <p class="account-balance t-13 secondary">{{ account.balance | formatValue }}</p>
          </div>
        </div>
      </ng-container>
      <div fxLayout="row" class="accounts-list-element add-element" fxLayoutAlign="start center"
        [ngClass]="possibleAccounts < 1 ? 'disabled' : '' " (click)="addAccount()">
        <div class=" icon-box">
          <div class="icon">
            <fa-icon icon="plus"></fa-icon>
          </div>
          <div class="icon-background"></div>
        </div>
        <div class="t-15 primary">
          Dodaj konto
        </div>
      </div>
    </div>
    <ng-template #loadingList>
      <div class="loading-spinner" fxLayout="column" fxLayoutAlign="center center">
        <mat-progress-spinner [mode]="'indeterminate'" [diameter]="40"></mat-progress-spinner>
      </div>
    </ng-template>
  </div>
  <div class="available-accounts t-12 secondary" *ngIf="possibleAccounts !== undefined && accounts">
    <svr-tooltip>
      <span class="t-12 primary">Ilość dostępnych kont zależy od poziomu twojego profilu.</span>
      <a class="app-a t-12">Więcej o poziomach</a>
    </svr-tooltip>
    <span> Możliwa ilość kont: {{ accounts.length }} / {{ possibleAccounts + accounts.length }} </span>
  </div>
</div>
