<div class="account-details-summary-container">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <ng-container *ngIf="(statistics$ | async) as statistics">
      <div fxLayout="row">
        <div class="summary-element-box">
          <span class="value">{{ statistics.totalOperations }}</span>
          <p class="description">Operacje</p>
        </div>
        <div class="summary-element-box">
          <span class="value">{{ statistics.totalCyclics }}</span>
          <p class="description">Operacje cykliczne</p>
        </div>
      </div>
      <div fxLayout="row">
        <div class="summary-element-box">
          <span class="value">{{ statistics.totalCyclicsBill }}</span>
          <p class="description">Kredyty</p>
        </div>
        <div class="summary-element-box">
          <span class="value">5</span>
          <p class="description">Raporty miesięczne</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
