<div>
    <div class="background"></div>
    <div class="login-form">
        <div class="close-icon" (click) = onCloseLogInClicked()>
          <div class="first"></div>
          <div class="second"></div>
        </div>
        <h1>LOGIN</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input matInput formControlName="email" placeholder="Email" class="login-input">
            </mat-form-field>
            <mat-form-field>
                <input matInput [type]="'password'" formControlName="password" placeholder="Password"
                    class="password-input">
            </mat-form-field>
            <button type="submit" mat-flat-button [disabled]="!this.loginForm.valid">Log in</button>
            <div class="info">
                <p> Forgot password?<a href="#">  Click here</a></p>
            </div>
        </form>
    </div>
</div>
