<div id = "background" >
    <div id = "container">
        <h1>Login</h1>
        <form #loginForm = "ngForm">

            <input 
                id = "login" 
                type="text" 
                placeholder="username" 
                required
                [(ngModel)] = "loginModel.login"
                name = "login"
                #loginInput = "ngModel"
                [class.input-error] = "(!loginInput.touched && errorOccurred) || (loginInput.invalid && loginInput.touched)"
            />

            <input
                id = "password" 
                type="password" 
                placeholder="password" 
                required
                [(ngModel)] = "loginModel.password"
                name = "password"
                #passwordInput = "ngModel"
                [class.input-error] = "(!passwordInput.touched && errorOccurred) || (passwordInput.invalid && passwordInput.touched)"
            />

            <button (click) = "loginSubmit()" type = "submit">Log in</button>
        </form>
        <div id = "errorbar" *ngIf="errorOccurred" >
            <p [innerHTML] = "errorMessage"></p>
        </div>
        <p>Forgot password? <a href="#">(Click here)</a></p>
    </div>
</div>
