<div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
     *ngIf="this.currentPage==='categories'"
     [@inOutAnimation]
      >
  <div class="category-container"
       [style.background-color]="category.color"
       *ngFor="let category of Categories">
    <p class="category-name" fxLayoutAlign="center">{{category.name}}
      <input alt="options"
             class="option-button"
             type="image"
             fxLayout
              src="assets/images/option_icon.png" alt="options"
             (click)="this.setCurrentId(category.id)">
      </p>

    <div class="subcategories-container"
         fxLayout
         fxLayoutAlign="center"
         fxLayoutGap="5px">
      <div class="subcategory" fxFlex>

      </div>
      <div class="subcategory" fxFlex>

      </div>
      <div class="subcategory" fxFlex>

      </div>
      <div class="subcategory" fxFlex>

      </div>
      <div class="subcategory" fxFlex>

      </div>
      <div class="subcategory" fxFlex>

      </div>
    </div>
  </div>
</div>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     *ngIf="this.currentPage==='selectedCategory'"
     [@inOutAnimation]
>
  SELECT CATEGORY
  <button (click)="this.currentPage='categories'">Click ME</button>
</div>
