.container{
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 100%;
}

.control-panel{
  width: 100%;
}

.category-container{
  border-radius: 10px;
  min-height: 100px;
  min-width: 300px;
  max-width: 600px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.subcategories-container{
  margin-top: 10px;
  min-width: 30px;
  height: auto;
  max-width: 450px;
  flex-wrap: wrap;
}

.subcategory{
  background-color: blue;
  height: 5px;
  min-width: 90px;
  max-width: 100px;
  margin-bottom: 5px;
}

.category-name{
  font-size: 32px;
  margin-left: 20px;
}

.option-button{
  height: 25px;
  width: 25px;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 5px;
}

.category-part{
  margin-bottom: 10px;
  font-size: 32px;
}

.subcategory-part{
  margin-bottom: 5px;
  font-size: 24px;
}
