@import 'material-restyle';
@import 'app-colors', 'app-text';

.dialog-container {
  display: block;
  position: relative;
  padding: 10px;
}

.dates {
  mat-form-field {
    width: 190px;
  }
  margin-bottom: 15px;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border: .15em solid $saver-secondary-color;
  border-radius: 100%;

  width: 1.5em;
  height: 1.5em;

  color: $saver-secondary-color;
  text-align: center;
  font-size: 25px;
}

.close-button {
  position: absolute;
  top: -22px;
  right: -20px;

  color: #4d4d4d;
  font-size: 27px;
  cursor: pointer;
}

.submit-button {
  width: 90px;
  height: 40px;
}

.operation-form {
  min-width: 480px;

  .description-textarea {
    min-height: 100px;
    max-height: 200px;
  }

  .guarranty-input {
    width: 30%;
  }
}

.subcategory-color {
  border-radius: 100%;
  width: 1.2em;
  height: 1.2em;
  margin: -2px 7px 0 0;
}

mat-option {
  ::ng-deep .mat-option-text {
    display: flex;
    align-items: center;
  }
}



.helping-box {
  padding-left: 10px;
  border-left: 1px solid $inputs-basic-border-color;


  .box {
    position: relative;
    // border-radius: 5px;
    // box-shadow: inset 0px 0px 3px 2px #ececec;
    padding: 10px 5px;
    margin-top: 20px;

    label {
      @extend .t-12-b;
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  .template-box {
    min-width: 250px;
    height: 250px;
    border-bottom: 1px solid $inputs-basic-border-color;

    .template-element {
      padding: 7px 10px;
    }

    .template-element:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;

      .template-delete-icon {
        visibility: visible;
      }
    }

    .template-delete-icon {
      visibility: hidden;
    }
  }

  .last-operations-box {
    min-width: 250px;
    min-height: 100px;

    .operation {
      margin: 3px 0;
      padding: 7px 10px;
    }

    .operation:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
