@import 'app-text', 'mixins';

.statistics-element {
  margin: 0 10px;
  min-width: 160px;

  .label {
    @extend .t-12,
    .secondary;
  }

  .value {
    @extend .h-22;
    margin: 10px;
  }
}

.loading-box {
  @include flex-center();
  margin-top: 10vh;
}
