@import 'app-text';

.info-container {
  display: inline-block;
  position: relative;
  margin: 3px;
  padding: 2px;

  &:hover,
  .info-box:hover {
    .info-box {
      padding: 15px;
      max-width: 250px;
      height: fit-content;
    }
  }
}

.info-box {

  @extend .t-14,
  .secondary;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  line-height: 1.3em;

  min-width: 200px;
  max-width: 0;
  height: 0;

  z-index: 1000;

  //transition: width 1s, height 1s;

  ::ng-deep .app-a {
    display: block;
    font-size: 13px;
    margin: .7em;
    text-align: right;
  }
}
