<div class="container">
  <div class="app-box">
    <p class="title">Ustawienia użytkownika</p>
    <p class="subtitle">Tutaj możesz zmienić adres e-mail, zaktualizować hasło lub zdeaktywować konto.</p>

    <form (ngSubmit)="SubmitEmailChange()">
    <div class="change-email-div">
     <p class="input-title">ZMIANA ADRESU E-MAIL</p>
     <input [formControl]="userEmail" class="email-input" type="email" placeholder="Adres E-mail">
      <div class="email-button-div">
        <button mat-raised-button disableRipple="true" class="email-button" color="primary" type="submit">
          ZMIEŃ
        </button>
        <!--<button class="email-button" type="submit">ZMIEŃ</button>-->
      </div>
    </div>
    </form>

    <form (ngSubmit)="SubmitPasswordChange()">
    <div class="old-password-div">
      <p class="input-title">AKTUALNE HASŁO</p>
      <input class="password-input" type="password" name="fname" placeholder="">
    </div>

    <div class="new-password-div">
      <p class="password-input-title">NOWE HASŁO</p>
      <input [formControl]="userNewPassword" class="new-password-input" type="password" placeholder="">
    </div>

    <div class="confirm-password-div">
      <p class="password-input-title">POTWIERDŹ NOWE HASŁO</p>
      <input [formControl]="userConfirmPassword" class="confirm-password-input" type="password" placeholder="">
    </div>
    <div class="password-button-div">
      <!--<button class="password-button" [disabled]="!userNewPassword.valid && !userConfirmPassword.valid" type="submit">ZMIEŃ</button>-->
      <button mat-raised-button disableRipple="true" class="password-button" [disabled]="!userNewPassword.valid && !userConfirmPassword.valid" color="primary" type="submit">
        ZMIEŃ
      </button>
    </div>
    </form>
  </div>


  <form (ngSubmit)="SubmitInfoChange()">
  <div class="app-box">
    <p class="title">Ustawienia profilu</p>
    <p class="subtitle">Tutaj możesz zmienić lub uzupełnić szczegółowe informacje o sobie oraz zmienić avatar.</p>

    <div class="change-avatar-div">
      <p class="avatar-change-title">ZMIANA AVATARU</p>
      <img class="avatar-image" src="./assets/images/account.svg" height="200" width="200">
      <!--<button class="avatar-button">DODAJ</button>-->
      <button mat-raised-button disableRipple="true" class="avatar-button" color="primary">
        DODAJ
      </button>
    </div>


    <div class="optional-info-div" [formGroup]='fGroup'>
      <p class="input-title">TWOJE IMIĘ</p>
      <input [formControl]="userFirstName" class="first-name-input" type="text" [value]=userInfo.firstName>
      <p class="input-title">TWOJE NAZWISKO</p>
      <input [formControl]="userLastName" class="last-name-input" type="text" [value]="userInfo.lastName">
      <p class="input-title">TWOJA PŁEĆ</p>
      <mat-radio-group class="radio-group" formControlName="sex">
        <mat-radio-button class="sex-button" (click)="onFemaleSexClick()" value="K">Kobieta</mat-radio-button>
        <mat-radio-button class="sex-button" (click)="onMaleSexClick()" value="M">Mężczyzna</mat-radio-button>
      </mat-radio-group>
      <!--<label class="sex-label">
        <input (click)="onFemaleSexClick()" class="sex-button" type="radio" name="gender" value="female">Kobieta
      </label>
      <label class="sex-label">
        <input (click)="onMaleSexClick()" class="sex-button" type="radio" name="gender" value="male">Mężczyzna
      </label>-->
    </div>


    <div class="optional-info-div-second">
      <p class="input-title">DATA URODZENIA</p>
      <mat-form-field class="date-picker">
        <input [formControl]="userBirthDate" readonly matInput [matDatepicker]="picker1" [value]="userInfo.birthDate">
        <mat-datepicker-toggle matSuffix #picker1 [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <p class="input-title">TWÓJ NICKNAME</p>
      <input [formControl]="userNickname" class="last-name-input" type="text" [value]="userInfo.nickname">
      <!--<button type="submit" [disabled]="!userFirstName.valid" class="save-button">ZAPISZ</button>-->
      <button mat-raised-button disableRipple="true" class="save-button" [disabled]="!userFirstName.valid" color="primary">
        ZAPISZ
      </button>
    </div>
  </div>
  </form>

 <!-- <div class="third-box">
    <p class="title">Ustawienia okres rozliczeniowego</p>
    <p class="subtitle">Tutaj możesz zmienić daty graniczne dla okresu rozliczeniowego w którym chcesz się rozliczać.</p>
  </div>-->
</div>
