<div fxLayout="column"
     fxLayoutAlign="center center">
  <div class="level-container"
       fxFlex="100%"
       fxLayoutAlign="center center"
      *ngIf="this.user !== undefined; else loading">
    <p class="level-number">{{this.user.level}}</p>
    <div class="level-bar" fxFlex="70%">
      <p class="user-experience">{{this.user.experience}} / 500</p>
    </div>
    <p class="level-number">{{this.user.level + 1}}</p>
  </div>
  <p class="user-title">{{this.user.title}}</p>
</div>
<ng-template #loading>Wczytywanie</ng-template>
