<div class="nav-container" [ngClass]="isWide ? 'wide-nav' : 'short-nav'" fxLayout="column">
  <div class="logo-container">
    <img alt="SaveIt" src="assets/images/logo.svg" class="logo-image">
    <p class="logo-text" *ngIf="isWide">Saver</p>
  </div>
  <svr-nav-account-list [expanded]="isWide"></svr-nav-account-list>
  <svr-nav-list [shortVersion]="isWide"></svr-nav-list>
  <div class="bottom-section">
    <span class="arrow-icon" (click)="toggleNavWidth()">
      <fa-icon icon="chevron-right" [rotate]="isWide? '180': '0'"></fa-icon>
    </span>
  </div>
</div>
