<div class="container" fxLayout="column">
  <div fxLayout="row">
    <mat-button-toggle-group #group="matButtonToggleGroup" value="cyclic">
      <mat-button-toggle value="cyclic">Cykliczne</mat-button-toggle>
      <mat-button-toggle value="instalment">Ratalne</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-container *ngIf="group.value==='instalment'">
    <svr-instalments></svr-instalments>
  </ng-container>
  <ng-container *ngIf="group.value==='cyclic'">
    <svr-cyclic></svr-cyclic>
  </ng-container>
</div>
