.register-form {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  grid-template:
    "nav header"60px "nav view"auto / min-content auto;
  height: 100%;
  width: 100%;
}

.header {
  //box-shadow: 0 2px 20px -1px rgba(0,0,0,0.20);
  //box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.10);
  z-index: 10;
  grid-area: header;
  background: #ecf0f7;
}

.nav-bar {
  grid-area: nav;
  box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.10);
}

.view-section {
  background: #ecf0f7;
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  grid-area: view;
  overflow: auto;
  z-index: 8;
}

// Scrollbar

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
}
