<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<div class="container">
  <p class="title">Sign Up</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput class="email-input"  placeholder="Email"
             formControlName="email"
             [errorStateMatcher]="matcher" />

      <mat-hint>Podaj email</mat-hint>

      <mat-error *ngIf="this.registerForm.get('email').hasError('email') && !this.registerForm.get('email').hasError('required')">
        Podaj swój email
      </mat-error>

      <mat-error *ngIf="this.registerForm.get('email').hasError('required')">
        Email jest <strong>wymagany</strong>
      </mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <input matInput class="password-input" [type]="'password'" placeholder="Hasło"
             formControlName="password"
             [errorStateMatcher]="matcher" />
      <mat-hint>Podaj hasło</mat-hint>

      <mat-error *ngIf="this.registerForm.get('password').hasError('required')">
        Hasło jest <strong>wymagane</strong>
      </mat-error>

      <mat-error *ngIf="this.registerForm.get('password').hasError('pattern') && !this.registerForm.get('password').hasError('required')">
        Wymagane jest <strong>silne</strong> hasło (min. 8 znaków, w tym co najmniej jedna litera mała, duża, liczba i znak specjalny)
      </mat-error>
    </mat-form-field><br>

    <mat-form-field>
      <input matInput class="password-input"  [type]="'password'"  placeholder="Hasło" formControlName="password2"
      [errorStateMatcher]="matcher"/>

      <mat-hint>Podaj hasło ponownie</mat-hint>

      <mat-error *ngIf="this.registerForm.get('password').hasError('required')">
        Ponowne wpisanie hasła jest <strong>wymagane</strong>
      </mat-error>

      <mat-error *ngIf="!checkPasswords()">
        Hasła <strong>muszą</strong> być <strong>takie same</strong>
      </mat-error>
    </mat-form-field><br>

    <button mat-raised-button type="submit" [disabled]="!this.registerForm.valid">Sign in</button>

    <div class="error-info">
      {{ this.errorInfo }}
    </div>

  </form>
</div>
