$width: 550px;
$height: 600px;

//* {
//  margin: 0;
//  padding: 0;
//}

.container {
  //box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.3);
  background-color: white;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: $height;
  width: $width;
  align-items: center;
  margin: 110px auto;
  border: solid 1px #AAAAAA;

  // tymczasowo (routing)
  //margin-top: 110px;

  //padding-top: 10px;
  padding-bottom: 10px;

  .title{
    padding: 5px 0px 40px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    //background-color: cornflowerblue;
    width: 450px;
    //margin-top: 0;
    text-align: center;
    //margin-bottom: 100px;
  }

  mat-form-field {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 300px;
  }

  input {
    margin-top: 10px;
  }

  .register-button, .login-button {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 50px;
    text-align: center;
    width: 200px;
    box-shadow: none;
  }

  .register-button{
    color: white;
    background-color: #264cff;
    margin-top: 40px;
  }

  .register-button[disabled]{
    background-color: #AAAAAA;
    cursor: not-allowed;
  }

  .login-button{
    background-color: white;
    color: gray;
    border: solid 2px lightgray;
    //margin-top: 10px;
  }

  @keyframes login-button {
    from {border-color: lightgray;}
    to {border-color: #264cff;}
  }

  .login-button:hover{
    animation-name: login-button;
    animation-duration: 0.7s;
    border-color: #264cff;
  }

  .error-info {
    text-align: center;
    color: rgb(192, 36, 36);
    padding: 10px 0;
    font-weight: 500;
    height: 1.2em;
  }
}
