<header [ngStyle]="{'background-color': this.navColor, 'animation-duration': '0.7s', 'animation-name': this.inOrOut}">
  <a routerLink="/home"><img alt="SaveIt" src="assets/images/logo.svg" class="logo"></a>
  <nav>
    <ul class="buttons">
      <li class="navBarButton"><a [ngStyle]="{'color': this.fontColor}" routerLink="/home" routerLinkActive="active">Strona domowa</a></li>
      <li class="navBarButton"><a [ngStyle]="{'color': this.fontColor}" routerLink="/login">Zaloguj się</a></li>
      <li class="navBarButton"><a [ngStyle]="{'color': this.fontColor}" routerLink="/register" routerLinkActive="active">Załóż konto</a></li>
    </ul>
  </nav>
</header>
