<div class="nav-container">
  <div class="user-section">
    <p>AVATAR</p>
    <p>EMAIL?</p>
    <p>lvl</p>
  </div>
  <div class="nav-list">
    <ul>
      <a routerLink="/main">
        <li> DASHBOARD </li>
      </a>
      <a routerLink="">
        <li> OPERATIONS </li>
      </a>
      <a routerLink="">
        <li> CATEGORIES </li>
      </a>
      <a routerLink="">
        <li> ACHIEVEMENTS </li>
      </a>
    </ul>
  </div>
  <div class="bottom-section">
    <p style="text-align: center;">settings</p>
  </div>
</div>
