<div class="container">
  <img class="main-logo" src="assets/images/main_logo.png" alt="Saver Logo">
  <div class="main-content">
    <h1 class="title-content">Oszczędzaj z Saver!</h1>
    <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat.</p>
    <button mat-raised-button class="register-button" type="submit">Załóż konto w Saver</button>
  </div>
</div>

<div class="header">
  <div class="app-container">
    <p class="text-content app-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
    </p>
    <div class="app-screenshots">
      <div class="row">
        <img class="ss" src="assets/images/ss1.png" alt="ss1">
        <img src="assets/images/ss2.png" alt="ss2">
      </div><br>
      <div class="row">
        <img class="ss" src="assets/images/ss3.png" alt="ss3">
        <img src="assets/images/ss4.png" alt="ss4">
      </div>
    </div>
  </div>
</div>

<div class="container">
    <img src="" alt="ach1">
    <p class="text-content"></p>
</div>

<div class="container">
  <p class="text-content"></p>
</div>
<footer>
  <p>Stopka</p>
</footer>
