.container{
  margin-top: 100px;
  //background-image: url("/assets/images/background-image-4.png");
  //background-size: 100% 100%;
}

.main {
  //margin-top: 100px;
}
.main-logo{
  margin-right: 100px;
  height: 350px;
  width: 350px;
}

.light{
  border: solid 2px red;
}

.main-content{
  margin-left: 20px;
  width: 500px;
  font-family: 'Lato', sans-serif;
  margin-top: 100px;
}

.title-content{
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

.text-content{
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
  width: 400px;
  text-align: justify;
  text-justify: inter-word;
}

.margin-right-100 {
  margin-right: 100px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-30 {
  margin-top: 30px;
}

.register-button{
  background-color: #E8EFFF;
  color: black;
  border: solid 2px lightgray;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  //margin-left: 50px;
  text-align: center;
  width: 220px;
  box-shadow: none;
  //z-index: 1;
}

@keyframes register-button {
  from {border-color: lightgray;}
  to {border-color: #264cff;}
}

.register-button:hover{
  animation-name: register-button;
  animation-duration: 0.7s;
  border-color: #264cff;
  //z-index: 1;
}

.header, .achievements-header{
  background-color: #0681ff;
  min-height: 700px;
  margin-top: 130px;
  //transform-origin: bottom left;
  width: 160%;
  margin-left: -20%;
  align-items: center;
}

.header{
  transform: rotate(-5deg);
}

.achievements-header{
  transform: rotate(5deg);
}

.app-container, .achievements-container{
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: -10%;
}

.app-container{
  transform: rotate(5deg);
}

.achievements-container{
  transform: rotate(-5deg);
}

.app-content{
  font-size: 18px;
  line-height: 1.6;
  width: 400px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.app-screenshots{
  //transform: rotate(5deg);
  //margin-top: 200px;
  //margin-left: 150px;
}

.ss{
  margin-right: 10px;
}



.canvas{
  width: 800px;
}

.canvas-container{
  margin-top: 100px;
  //padding-left: 30%;
}

.canvas-text{
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.canvas-canvas{
  align-items: center;
}

a{
  text-decoration: none;
}

.mobile {
  width: 320px;
  height: 320px;
}

.achievement {
  height: 130px;
  width: 130px;
}

.trophy {
  height: 320px;
  width: 320px;
}

.image-info {
  height: 200px;
  width: 360px;
}

footer {
  bottom: 0;
  height: 10em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #c7d1f1;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  p {
    color: #d3d3d3;
    font-size: 14px;
    padding: 10px;
  }

  a, a:hover, a:active {
    text-decoration: none;
    color: whitesmoke;
  }

  button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
  }
}
