.text {
  //background: #7EBFFF;
  margin: 5px 10px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.30);
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  color: white;
}
