<div class="account-balance-details-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div class="balance">
    <p class="t-12 secondary">Aktualne saldo</p>
    <span class="h-32-b primary">900.00 zł</span>
  </div>
  <div class="details" fxLayout="column" fxLayoutGap="15px">

    <div class="income details-element">
      <fa-icon icon="caret-up"></fa-icon>
      <p class="title t-15 primary">Przychód</p>
      <div class="details-content">
        <span class="value t-15-b primary">1101.24 PLN</span>
        <p class="t-12 secondary">Przewidywany przychód w tym miesiącu: 4000.00 PLN</p>
      </div>
    </div>

    <div class="outcome details-element">
      <fa-icon icon="caret-up"></fa-icon>
      <p class="title t-15 primary">Wydatki</p>
      <div class="details-content">
        <span class="value t-15-b primary">271.24 PLN</span>
        <p class="t-12 secondary">Przewidywane wydatki w tym miesiącu: 2300.00 PLN</p>
        <p class="t-12 secondary">Wyznaczony limit: 3500.00 PLN</p>
      </div>
    </div>
  </div>
</div>
