<div class="dialog-container" fxLayout="column">

  <div class="top-div" fxLayoutAlign="space-between center" fxLayout="row">
    <div><fa-icon class="icon" [icon]="bellIcon" size="lg" fxLayoutAlign="center center"></fa-icon></div>
    <div><p class="notification-header">Powiadomienia</p></div>
    <div fxLayoutAlign="center center" class="counter">{{ this.counter }}</div>
  </div>

  <div class="bottom-div" fxLayoutAlign="stretch stretch" fxLayout="column">
    <div class="notification-container" fxLayout="column" fxLayoutAlign="stretch stretch">
      <svr-notification-item *ngFor="let notification of notifications" [notification]="notification"></svr-notification-item>
    </div>
  </div>
</div>
