<p class="label"
    fxFlex="100%"
    fxLayoutAlign="center">Wszystkie osiągnięcia</p>
<div class="achievement-container"
     *ngFor="let achievement of this.achievements">
  <img src="{{achievement.src}}"
       alt="{{achievement.title}}"
       class="achievement-image"
       (mouseleave)="this.activeIndex = null"
       (mouseover)="this.activeIndex = achievement.id">
  <div class="description"
       fxLayoutAlign="center"
       *ngIf="this.activeIndex === achievement.id">
    <p class="achievement-title">
    <strong>{{achievement.title}}</strong>
    </p>
    <p class="achievement-description">
      {{achievement.description}}
    </p>
    <p *ngIf="achievement.date !== null" class="achievement-date">
      {{achievement.date | date:  'dd.MM.yyyy'}}
    </p>
    <p *ngIf="achievement.date === null" class="achievement-no-date">
      Jeszcze nie zdobyto
    </p>
  </div>
</div>
