<div class="container" fxLayout="column">
  <div>
    <mat-button-toggle-group #group="matButtonToggleGroup" value="cyclic">
      <mat-button-toggle value="cyclic">Cykliczne</mat-button-toggle>
      <mat-button-toggle value="instalment">Ratalne</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-container *ngIf="group.value==='cyclic'">
    <div class="element-wrapper">
    <svr-cyclic-element></svr-cyclic-element>
      <svr-cyclic-element></svr-cyclic-element>
    </div>
  </ng-container>
</div>
