@import 'app-text', 'app-boxes';

.register-form {
  margin: 40px 5%;
  display: flex;
  flex-direction: column;
}

.view-title {
  margin: 20px 0;
}

.view-content {
  display: flex;
  flex-direction: column;
}

.filter-button {
  align-self: flex-end;
  margin: 10px 0;
  width: max-content;
  border: 1px solid lightgrey;
}

.operation-filters-box {
  &.opened {
    display: block;
  }

  &.closed {
    display: none;
  }
}

.sort-select {
  align-self: flex-end;
  width: 200px;
  margin: 10px 0;
  padding: 7px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
}

.operation-labels {
  margin: 5px 20px;
  padding: 0 5px;

  span {
    @extend .t-12-b,
    .secondary;
  }
}

.no-operations-info {
  text-align: center;

  * {
    margin: 15px;
  }
}

.bottom-block {
  margin: 30px auto;
  padding: 10px;
  width: fit-content;
}

.more-operations-button {
  cursor: pointer;

  fa-icon {
    margin: 10px;
  }
}
