<div class="dialog-container"
      fxLayout="column wrap"
      fxLayoutGap="60px">

  <div [formGroup]="editingForm"
       fxLayout="column wrap"
       fxLayoutGap="60px">

    <!-- Category Edit Part -->
    <div fxLayout="column"
         fxLayoutGap="10px"
         fxLayoutAlign="center"
         *ngIf="this.category">

      <header fxLayout="row" fxLayoutGap="10px">
        <h1 class="h-30">Edycja Kategorii</h1>
      </header>

      <!-- Category Edit/Add Form -->
      <div class="category-form"
           fxLayout="row wrap"
           fxLayout.lt-md="column"
           fxLayoutGap="10px"
           fxLayoutAlign="center"
           fxFlex="100%">

        <!-- Title -->
        <mat-form-field
          fxLayoutAlign="center"
          appearance="outline"
          class="mat-ff-fixed-padding mat-ff-no-border-hover"
          title="Nazwa kategorii">
            <input matInput
                   class="category-input"
                   maxlength="150"
                   formControlName="categoryTitle"
                   [errorStateMatcher]="matcher">
            <mat-error
              *ngIf="this.editingForm.get('categoryTitle').hasError('required')">
              Nazwa Kategorii nie może być pusta.
            </mat-error>
        </mat-form-field>

        <!-- Color -->
        <mat-form-field
          fxLayoutAlign="center"
          appearance="outline"
          class="mat-ff-fixed-padding mat-ff-no-border-hover"
          title="Kolor kategorii">
            <input matInput
              class="category-input"
              readonly
              [(colorPicker)]="this.categoryColor"
              (colorPickerChange)="this.editingForm.controls['categoryColor'].setValue(this.categoryColor)"
              [style.background]="this.editingForm.get('categoryColor').value">
            <mat-error class="font-12"
                       *ngIf="this.editingForm.get('categoryColor').hasError('required')">
              Kolor Kategorii nie może być pusty.
            </mat-error>
        </mat-form-field>

        <!-- Limit -->
        <mat-form-field
          fxLayoutAlign="center"
          appearance="outline"
          class="mat-ff-fixed-padding mat-ff-no-border-hover"
          title="Limit kategorii">
            <input matInput
               class="category-input"
               formControlName="categoryLimit"
               [errorStateMatcher]="matcher">
            <mat-error class="font-12"
                       *ngIf="this.editingForm.get('categoryLimit').hasError('required')">
              Limit Kategorii nie może być pusty.
            </mat-error>
        <mat-error class="font-12" *ngIf="this.editingForm.get('categoryLimit').hasError('pattern')">
          Limit Kategorii musi być <strong>liczbą całkowitą dodatnią</strong>
        </mat-error>
        </mat-form-field>
      </div>

      <!-- Buttons for Category -->
      <div fxLayout="row"
           fxLayoutGap="5px"
           fxLayoutAlign="center">

        <!-- Update Category Button -->
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button-category"
          (click)="updateCategory()"
          *ngIf="!this.addingOperation">
          Zaktualizuj
        </button>

        <!-- Add Category Button -->
        <button
          mat-flat-button
          color="accent"
          type="submit"
          class="submit-button-category"
          (click)="addCategory()"
          *ngIf="this.addingOperation">
          Dodaj
        </button>

        <!-- Delete Category Button -->
        <button
          mat-flat-button
          color="warn"
          type="submit"
          class="submit-button-category"
          (click)="deleteCategory()"
          *ngIf="!this.addingOperation">
          Usuń
        </button>
      </div>
    </div>

    <!-- Subcategory Edit Part -->
    <div  fxFlex="100%"
          fxLayout="column"
          fxLayoutGap="30px"
          *ngIf="!this.addingOperation">

      <header fxLayout="row"
              fxLayoutGap="10px">
        <h1 class="h-30">Edycja Subkategorii dla kategorii {{this.category.title}}</h1>
      </header>

      <!-- Subcategory Edit Part -->
      <div class="subcategory-form"
           formArrayName="subcategories"
           fxLayout="row"
           fxLayout.lt-md="column"
           fxLayoutAlign.lt-md="center"
           fxLayoutAlign="center"
           fxLayoutGap="5px"
           *ngFor="let subcategory of this.editingForm.get('subcategories').controls; let i = index">

        <!-- Subcategory Edit Form -->
        <div [formGroupName]="i"
             fxLayoutGap="5px"
             fxLayout="row"
            fxLayoutAlign="center">

          <!-- Title -->
          <mat-form-field
            appearance="outline"
            class="mat-ff-fixed-padding mat-ff-no-border-hover"
            title="Tytuł Subkategorii">
              <input matInput
                     class="subcategory-input"
                     formControlName="title"
                     [errorStateMatcher]="matcher">
              <mat-error class="font-12" *ngIf="this.editingForm.get('subcategories').controls[i].controls.title.hasError('required')">
                Nazwa Subkategorii nie może być pusta
              </mat-error>
          </mat-form-field>

          <!-- Color -->
          <mat-form-field
            appearance="outline"
            class="mat-ff-fixed-padding mat-ff-no-border-hover"
            title="Color Subkategorii">
              <input matInput
                     class="subcategory-input"
                     readonly
                     [(colorPicker)]="subcategory.value.color"
                     [style.background]="subcategory.value.color"
                     [errorStateMatcher]="matcher">
              <mat-error class="font-12" *ngIf="this.editingForm.get('subcategories').controls[i].controls.color.hasError('required')">
                Kolor Subkategorii nie może być pusty
              </mat-error>
            </mat-form-field>
        </div>

        <!-- Buttons for Subcategory -->
        <div fxLayout="row"
             class="subcategory-buttons"
             fxLayoutGap="5px"
            fxLayoutAlign="center">

          <!-- Update Subcategory Button -->
          <button mat-flat-button
                  color="accent"
                  type="submit"
                  class="submit-button-subcategory"
                  (click)="updateSubcategory(subcategory.value, i)">
            Zaktualizuj
          </button>

          <!-- Delete Subcategory Button -->
          <button mat-flat-button
                  color="warn"
                  type="submit"
                  class="submit-button-subcategory"
                  (click)="deleteSubcategory(subcategory.value, i)">
            Usuń
          </button>
        </div>
      </div>
    </div>
  </div>

  <div fxLayoutAlign="center"
       fxLayoutGap="5px"
       fxLayout="row wrap"
       *ngIf="!this.addingOperation && this.category.subcategories.length < 8"
       [formGroup]="addingForm">
    <mat-form-field
      fxLayoutAlign="center"
      appearance="outline"
      class="mat-ff-fixed-padding mat-ff-no-border-hover"
      title="Tytuł Subkategorii">
        <input matInput
               formControlName="newSubcategoryTitle"
               [errorStateMatcher]="matcher">
    </mat-form-field>

    <mat-form-field
      fxLayoutAlign="center"
      appearance="outline"
      class="mat-ff-fixed-padding mat-ff-no-border-hover"
      title="Tytuł Subkategorii">
        <input matInput
               readonly
               [errorStateMatcher]="matcher"
               [(colorPicker)]="this.subcategoryColor"
               (colorPickerChange)="this.addingForm.controls['newSubcategoryColor'].setValue(this.subcategoryColor)"
               [style.background]="this.addingForm.get('newSubcategoryColor').value">
    </mat-form-field>

    <button mat-flat-button
            color="accent"
            type="submit"
            class="submit-button"
            (click)="addSubcategory()">
      Dodaj
    </button>
  </div>

  <div class="exit"
       fxFlex="100%"
       fxLayoutAlign="center">
    <button mat-flat-button
            color="primary"
            type="submit"
            class="submit-button-category"
            (click)="closeDialog('close')"
            *ngIf="!this.addingOperation">
      Powrót</button>
    <button mat-flat-button
            color="primary"
            type="submit"
            class="submit-button-category"
            *ngIf="this.addingOperation"
            (click)="closeDialog('cancel')">
      Powrót</button>
  </div>
</div>

