<div class="account-selection">
  <div [ngClass]="expanded ? 'selection-button-active' : 'selection-button-no-active'" (click)="onAccountSelectionClick()">
    <!--[ngStyle]="{'background-color': this.account.color }"-->
    <span class="account-icon" [ngClass]="expanded ? 'account-icon-expanded' : 'account-icon-short'">
        <fa-icon icon="home"></fa-icon>
    </span>
    <p class="account-name" *ngIf="expanded">{{ this.account.name }}</p>
    <span class="dropdown-icon">
      <fa-icon icon="chevron-down" *ngIf="expanded"></fa-icon>
    </span>
  </div>
  <div class="account-selection-list" *ngIf="accountSelectionClicked && expanded">
    <svr-nav-account-item *ngFor="let account of accounts" [account]="account"></svr-nav-account-item>
    <p class="manageAccounts">Zarządzaj kontami</p>

    <!--<div class="error-info">
      {{ this.errorInfo }}
    </div>-->
  </div>
</div>

