<div class="container">
  <div class="main-box" (click)="this.descriptionClick()">
    <div class="title">
      <h1>{{ this.operation.title }}</h1>
      <p>{{ this.moment(this.operation.date).format('dd, DD.MM.YYYY HH:mm') }}</p>
    </div>
    <div class="icons">
      &#9744; &#9744;
    </div>
    <div class="value">
      {{ this.operation.type * this.operation.value + ' PLN' }}
    </div>
    <div class="details-button">
      \/
    </div>
  </div>
  <div class="details-box" *ngIf="descriptionBoxVisible">
    <div class="description">
      <p class="description-header small-title">Opis</p>
      <p class="description-content content">{{ this.operation.description }}</p>
      <div class="category">
        <p class="category-header small-title">Kategoria</p>
        <p class="main-category-title category-title" [style.color]="this.operation.subcategory.category.color">
          {{ this.operation.subcategory.category.title }}
        </p>
        <p class="sub-category">
          &#8627;
          <span class="sub-category-name category-title" [style.color]="this.operation.subcategory.color">
            {{ this.operation.subcategory.title }}
          </span>
        </p>
      </div>
    </div>
    <div class="other-detail">
      <div class="guaranty">
        Gwarancja: {{ this.operation.guarantyDays ? this.operation.guarantyDays : 'Nie dotyczy'}}
      </div>
      <div class="file">
        PLIK
      </div>
    </div>
  </div>
</div>
