@import 'app-text', 'app-colors', 'mixins', 'app-boxes';

.container {
  margin: 5px 0;
}

.main-box {
  padding: 5px 20px;
  height: 60px;
}

.main-box:hover {
  .icon-box {
    visibility: visible;
  }
}

.operation-category,
.operation-value,
.details-button,
.operation-extras,
.operation-title,
.operation-date {
  @include flex-center();
}

.operation-title {
  justify-content: flex-start;
}

.operation-date {
  flex-direction: column;
  align-items: flex-start;

  p {
    margin-top: 10px;
  }
}

.operation-value {
  justify-content: flex-end;

  .value {
    margin-right: 10px;
  }
}

.category-chip {
  position: relative;
  overflow: hidden;
  border-radius: 15px;

  .chip-background {
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .chip-text {
    padding: 8px 12px;
  }
}

.details-button {
  .icon-box {
    visibility: hidden;
    padding: .5em .6em;
    font-size: 20px;
    color: rgb(150, 150, 150);
    cursor: pointer;
    border-radius: 10px;
  }

  fa-icon {}

  .icon-box:hover {
    background-color: rgb(240, 240, 250);
  }
}

.details-box {

  .description-icon,
  .category-wrapper,
  .extras {
    @include flex-center();
    min-height: 80px;
  }

  .dotts-block {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: visible;
    border-left: 1px dotted black;
    border-bottom: 1px dotted black;
    margin: 40px 50px 20px 30px;

    .category {
      position: absolute;
      top: -37px;
      left: -25px;
    }

    .subcategory {
      position: absolute;
      top: 5px;
      left: 25px;
    }
  }

  .description-icon,
  .description-content {
    margin-top: 10px;
    align-items: flex-start;
  }

  .extras {
    fa-icon {
      padding: 2px;
      width: 20px;
      margin-right: 10px;
    }

    .guarantee-box {
      p {
        margin: 10px;
        margin-left: 30px;
      }
    }
  }

  &.opened {
    padding: 10px;
    margin-top: 5px;
    border-top: 1px solid rgb(245, 245, 245);
    height: 130px;
    visibility: visible;
  }

  &.closed {
    padding: 0;
    border-top: none;
    height: 0px;
    visibility: hidden;
  }

  overflow: hidden;
  transition: height .5s,
  padding-top .5s;

}

.income {
  color: $income-color;
}

.outcome {
  color: $outcome-color;
}
































/*

.container {
  //border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  //border-top: 1px solid lightgrey;
  //border-bottom: 1px solid lightgrey;
  width: 100%;
  min-width: 415px;
  margin: 10px 0;
}

.main-box {
  width: 100%;
  height: 90px;
  display: grid;
  z-index: 10;

  grid-template-columns: auto max-content 140px 70px;
  grid-template-areas: "title icons value button";

  justify-items: center;
  align-items: center;

  background: white;
  //background: rgb(250, 250, 250);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  .title {
    grid-area: title;
    justify-self: stretch;
    align-self: stretch;

    //min-width: 120px;
    margin: 10px 15px;

    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas: "header""none""date";

    h1 {
      grid-area: header;
      font-size: 20px;
      font-weight: 400;
    }

    p {
      grid-area: date;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .icons {
    grid-area: icons;
    padding: 15px;
  }

  .value {
    grid-area: value;
    justify-self: right;
    font-size: 18px;
    padding: 15px;
  }

  .details-button {
    grid-area: button;
  }
}

.main-box:hover {
  background: white;
  //background-color: rgb(250, 250, 250);
  //background: #f3f3f3;
}

.details-box {
  background: white;
  //background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  position: relative;
  top: -12px;
  z-index: 9;

  display: grid;
  grid-template-columns: auto max-content;

  .description {

    display: flex;
    flex-direction: column;

    .description-header {}

    .description-content {}
  }

  .category {
    margin-top: 10px;


    .category-header {}

    .main-category-title {}

    .sub-category {
      display: block;
      margin-top: 3px;
      margin-left: 5px;

      .sub-category-name {
        display: inline-block;
        position: relative;
        left: 2px;
        top: 5px;
      }
    }

    .category-title {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .other-detail {
    width: 250px;
    display: flex;
    flex-direction: column;

    * {
      margin-bottom: 20px;
      font-size: 14px;
    }

    .guaranty {}

    .file {
      font-weight: 500;
      color: rgb(102, 102, 102);
      margin-bottom: 20px;
    }
  }

  .small-title {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin-bottom: 15px;

  }

  .content {
    font-size: 12px;
    margin-bottom: 20px;
  }
}

*/
