<div class="fl-container ">

  <header class="fl-header" fxLayout="row">
    <img src="assets/images/logo.svg" class="logo-image" fxFlexAlign="center" />
    <h1 fxFlexAlign="center" class="logo-text">Saver</h1>
  </header>

  <mat-horizontal-stepper labelPosition="bottom" linear disableRipple="true" class="fl-stepper mat-step-no-hover"
    #stepper>
    <!-- Step 1 - Welcome -->
    <mat-step [completed]="true" [editable]="false">
      <ng-template matStepLabel>Witaj</ng-template>
      <div class="step-container step-1-container">
        <h1 class="fl-text-header">Witaj w</h1>
        <h1 class="fl-header-logo main-color">SAVER</h1>
        <p class="fl-text">Potrzebujemy jeszcze kilku informacji abyś mógł w pełni korzystać z aplikacji. </p>
        <p class="fl-text">Zajmiemy Ci tylko minutkę :)</p>
      </div>
      <div class="step-footer">
        <button mat-stroked-button disableRipple="true" matStepperNext>Rozpocznij</button>
      </div>
    </mat-step>

    <!-- Step 2 - First Account -->
    <mat-step [completed]="false" #accountStep>
      <ng-template matStepLabel>Pierwsze konto</ng-template>
      <div class="step-container">
        <svr-create-account (next)="
          accountStep.completed = true; 
          accountStep.editable = false; 
          stepper.next(); 
          firstAccount = $event">
        </svr-create-account>
      </div>
    </mat-step>

    <!-- Step 3 - Billing period -->
    <mat-step #billingPeriod>
      <ng-template matStepLabel>Okres rozliczeniowy</ng-template>
      <div class="step-container">
        <svr-billing-period (next)="
          billingPeriod.completed = true; 
          billingPeriod.editable = false; 
          stepper.next(); 
          monthDay = $event">
        </svr-billing-period>
      </div>
    </mat-step>

    <!-- Step 4 - User data -->
    <mat-step [completed]="false" #userDataStep>
      <ng-template matStepLabel>Personalizacja</ng-template>
      <div class="step-container">
        <h1 class="fl-text-header">Spersonalizuj swój profil</h1>
        <p class="fl-text">Możesz pominąć ten krok, a zmian dokonać później w zakładce profilu.</p>
        <svr-user-data (next)="
          userDataStep.completed = true;
          userDataStep.editable = false;
          stepper.next();
          userData = $event;
          saveStepperForm();">
        </svr-user-data>
      </div>
    </mat-step>

    <!-- Step 5 - Done -->
    <mat-step>
      <ng-template matStepLabel>Gotowe!</ng-template>
      <ng-container [ngSwitch]="completeRequestState">
        <ng-container *ngSwitchCase="'pending'">
          <div class="process-box">
            <mat-progress-spinner [mode]="'indeterminate'" [diameter]="35"></mat-progress-spinner>
            <span class="h-18 primary">Jeszcze chwilka</span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'completed'">
          <div class="step-container">
            <h1 class="h-22 primary fl-header">Wszystko gotowe!</h1>
            <p class="h-18 secondary">Wszystko gotowe abyś mógł korzystać z aplikacji. Kliknij przycisk poniżej i
              obserwuj
              swój budżet z SAVER.</p>
          </div>
          <div class="step-footer">
            <button mat-raised-button color="primary" (click)="goToMainApp()">Przejdź do aplikacji</button>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'error'">
          <div class="process-box">
            <span class="h-18 primary">Wystąpił błąd</span>
            <button mat-stroked-button (click)="saveStepperForm()">Spróbuj ponownie</button>
          </div>
        </ng-container>
      </ng-container>
    </mat-step>

  </mat-horizontal-stepper>

  <footer class="fl-footer">
    <p>Saver 2020 &copy;</p>
    <p>Zespół programowania #1</p>
  </footer>

</div>
