@import 'mixins', 'material-restyle', 'app-text', 'app-colors', 'app-boxes';

.margin-left {
  margin-left: 40px;
}

.default {
  @extend .app-box;
  width: 45%;
  height: 45%;
  //animation-name: fromFullscreen;
  //animation-duration: 0.7s;
  position: relative;
  transition: width 1.3s, height 1.3s;
  z-index: 1;
}

.fullscreen {
  @extend .app-box;
  transition: width 1.3s, height 1.3s;
  width: 95%;
  height: 95%;
  //animation-name: toFullscreen;
  //animation-duration: 0.7s;
  top: 70px;
  position: absolute;
  z-index: 2;
}

.loading-box {
  @include flex-center();
  @extend .app-box;
  width: 45%;
  height: 45%;
  //animation-name: fromFullscreen;
  //animation-duration: 0.7s;
  position: relative;
  transition: width 1.3s, height 1.3s;
  z-index: 1;
}

.dates {
  mat-form-field {
    width: 190px;
  }
  margin-bottom: 15px;
}

.confirm-button {
  align-self: flex-end;
  margin: 18px 0;
  width: max-content;
  border: 1px solid lightgrey;
}


.relative-position {
  position: relative;
  right: 35px;
  top: 10px;
  z-index: 2;
  color: grey;
}

.relative-position:hover {
  color: #00ab65;
}

.absolute-position {
  color: grey;
  position: absolute;
  z-index: 2;
  top: 80px;
  right: 3%;
  animation: waitForLoad 0s 1.3s forwards;
  visibility: hidden;
}

.absolute-position:hover {
  color: #00ab65;
}

@keyframes waitForLoad {
  to   { visibility: visible; }
}


.info {
  font-style: italic;
  color: #AAAAAA;
  font-size: 10px;
  text-align: center;
}

.margins {
  margin-top: 10px;
  margin-bottom: 40px;
}

.dates-form {
  height: 70px;
}
