

.achievement-container-last{
  padding-top: 10px;
  padding-bottom: 10px;
}
.achievement-info{
  flex-wrap: wrap;
  border: solid red 2px;
  padding-top: 50px;
  padding-bottom: 50px;
}


.achievement-img-last{
  height: 180px;
  width: 180px;
  border: solid red 2px;
  margin-right: 10px;
}
