<p class="label"
   fxFlex="100%"
   fxLayoutAlign="center">
  Twoje ostatnie osiągnięcia
</p>
<div class="achievement-container-last"
    fxFlex="33%"
     fxLayoutAlign="center"
    *ngFor="let achievement of this.achievements">
  <img class="achievement-img-last" alt="{{achievement.achievement.title}}" src="{{achievement.achievement.src}}">
  <div class="achievement-info" fxFlex="100%">
    <p class="achievement-title-last" fxFlex="100%"><strong>Nazwa: </strong>{{achievement.achievement.title}}</p>
    <p class="achievement-description-last" fxFlex="100%"><strong>Zdobyto za: </strong>{{achievement.achievement.description}}</p>
    <p class="achievement-date-last" fxFlex="100%"><strong>Data: </strong>{{achievement.date}}</p>
    <p class="achievement-percentage-last" fxFlex="100%"><strong>Procent: </strong>81.34%</p>
  </div>
</div>
