// Headers

.text-header {
  font-weight: 500;
}

.h-30 {
  @extend .text-header;
  font-size: 30px;
}

.h-22 {
  @extend .text-header;
  font-size: 22px;
  font-weight: 400;
}

.h-18 {
  @extend .text-header;
  font-size: 18px;
  font-weight: 400;
}

// Text

.text {
  font-weight: 400;
}

.t-13 {
  @extend .text;
  font-size: 13px;
}


// Anchor

.app-a {
  position: relative;
  text-decoration: none;
  color: #184fb7;
}

.app-a::after {
  position: absolute;
  top: .22em;
  margin-left: .5em;

  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .38em 0 .38em .55em;
  border-color: transparent transparent transparent #215ac4;
}
