// App font styles

// Headers

/*
  Avalible classes: 
    .h-<font-size>    - normal header
    .h-<font-size>-b  - bolder header

*/

@mixin header ($size) {
  .h-#{$size} {
    font-weight: 400;
    font-size: #{$size}px;

    &.primary {
      color: rgba(10, 10, 10, 1);
    }

    &.secondary {
      color: rgb(51, 51, 51);
    }
  }

  .h-#{$size}-b {
    @extend .h-#{$size};
    font-weight: 500;
  }
}


@include header(32);
@include header(30);
@include header(28);
@include header(22);
@include header(18);


// Text

/*
  Avalible classes: 
    .t-<font-size>    - normal text
    .t-<font-size>-b  - bolder text
    .t-<font-size>-l  - lighter text

*/

@mixin text ($size) {
  .t-#{$size} {
    font-weight: 400;
    font-size: #{$size}px;

    &.primary {
      color: rgba(10, 10, 10, 1);
    }

    &.secondary {
      color: rgb(100, 100, 100)
    }
  }

  .t-#{$size}-b {
    @extend .t-#{$size};
    font-weight: 500;
  }

  .t-#{$size}-l {
    @extend .t-#{$size};
    font-weight: 300;
  }
}

@include text(16);
@include text(15);
@include text(14);
@include text(13);
@include text(12);

// Anchor

.app-a {
  position: relative;
  text-decoration: none;
  color: #184fb7;
  margin-right: 1.5em;
}

.app-a::after {
  position: absolute;
  top: .3em;
  margin-left: .5em;

  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .38em 0 .38em .55em;
  border-color: transparent transparent transparent #215ac4;
}
