// Main app colors
$saver-primary-color: #0d3a8b;
$saver-secondary-color: #01ca94;

$inputs-basic-border-color: #e0e0e0;
$box-default-hover-color: #eeeeee;

$income-color: green;
$outcome-color: red;

$success-color: green;
$failure-color: red;
